In [16]:
from urllib.request import urlopen
import warnings

import pandas as pd

import cmasher as cmr
import matplotlib.pyplot as plt
import numpy as np
from PIL import Image
from highlight_text import ax_text

from mplsoccer import Pitch, VerticalPitch, add_image, FontManager, Sbopen

In [17]:
parser = Sbopen(dataframe=True)
competition = parser.competition()
ucl = competition[competition['competition_name'] == 'Champions League']
match = parser.match(competition_id=16, season_id=4)
match

,match_id,match_date,kick_off,home_score,away_score,match_status,match_status_360,last_updated,last_updated_360,match_week,...,competition_stage_id,competition_stage_name,stadium_id,stadium_name,stadium_country_id,stadium_country_name,referee_id,referee_name,referee_country_id,referee_country_name
0,22912,2019-06-01,2019-06-01 21:00:00,0,2,available,scheduled,2022-11-28 14:45:35.628134,2021-06-13 16:17:31.694,13,...,26,Final,4654,\tEstádio Cívitas Metropolitano,214,Spain,420,Damir Skomina,208,Slovenia

In [23]:
ev = parser.event(22912)
df = pd.concat(ev)
df

,id,index,period,timestamp,minute,second,possession,duration,match_id,type_id,...,dribble_nutmeg,block_offensive,pass_goal_assist,id_related,index_related,type_name_related,teammate,event_freeze_id,jersey_number,event_tactics_id
0,9ec3d009-c15b-4a8d-be80-57a07f40755a,1.0,1.0,00:00:00,0.0,0.0,1.0,0.000000,22912,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,e8bdb5d1-8bcb-4a0d-bfd2-68c18c7f54d0,2.0,1.0,00:00:00,0.0,0.0,1.0,0.000000,22912,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00b678a4-3767-4d0b-92e6-9cb4c959d94d,3.0,1.0,00:00:00,0.0,0.0,1.0,0.000000,22912,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,05840f64-0fb7-4f2d-885a-49790d6bd4df,4.0,1.0,00:00:00,0.0,0.0,1.0,0.000000,22912,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b67ef6a9-e877-4dbe-bb03-edcc9d8c7711,5.0,1.0,00:00:00.208000,0.0,0.0,2.0,1.666205,22912,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,9d4982b9-476a-465e-8a4b-8b943054130d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22912,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,7.0
62,9d4982b9-476a-465e-8a4b-8b943054130d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22912,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,8.0
63,9d4982b9-476a-465e-8a4b-8b943054130d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22912,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,9.0
64,9d4982b9-476a-465e-8a4b-8b943054130d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22912,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,10.0
65,9d4982b9-476a-465e-8a4b-8b943054130d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22912,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,11.0

In [42]:


events, related, tactics, freeze = parser.event(22912)

df = events[['team_name', 'player_name', 'pass_recipient_name', 'position_name', 'x', 'y', 'end_x', 'end_y', 'outcome_name', 'under_pressure', 'technique_id']]

liv_df = df[(df['team_name'] == 'Liverpool') & (df['player_name'] == 'Trent Alexander-Arnold') & (df['under_pressure'] == 1.00)]
liv_df

,team_name,player_name,pass_recipient_name,position_name,x,y,end_x,end_y,outcome_name,under_pressure,technique_id
216,Liverpool,Trent Alexander-Arnold,NaN,Right Back,23.1,75.8,NaN,NaN,Won,1.0,NaN
217,Liverpool,Trent Alexander-Arnold,NaN,Right Back,23.1,75.8,2.1,66.3,NaN,1.0,NaN
219,Liverpool,Trent Alexander-Arnold,NaN,Right Back,2.1,66.3,26.9,79.5,Out,1.0,NaN
461,Liverpool,Trent Alexander-Arnold,NaN,Right Back,14.9,50.7,NaN,NaN,NaN,1.0,NaN
671,Liverpool,Trent Alexander-Arnold,NaN,Right Back,23.5,28.3,NaN,NaN,Success In Play,1.0,NaN
1079,Liverpool,Trent Alexander-Arnold,NaN,Right Back,66.2,74.7,70.8,77.9,NaN,1.0,NaN
1081,Liverpool,Trent Alexander-Arnold,Mohamed Salah,Right Back,70.8,77.9,83.2,75.3,NaN,1.0,NaN
1447,Liverpool,Trent Alexander-Arnold,NaN,Right Back,72.3,77.0,84.1,76.0,NaN,1.0,NaN
1449,Liverpool,Trent Alexander-Arnold,Mohamed Salah,Right Back,84.1,76.0,99.0,41.1,Incomplete,1.0,NaN
1709,Liverpool,Trent Alexander-Arnold,NaN,Right Back,8.8,53.1,NaN,NaN,NaN,1.0,NaN
2037,Liverpool,Trent Alexander-Arnold,NaN,Right Back,9.4,29.8,NaN,NaN,NaN,1.0,NaN
2937,Liverpool,Trent Alexander-Arnold,NaN,Right Back,7.1,55.3,NaN,NaN,NaN,1.0,NaN